

{%- doc -%}
  This block is used to display the accelerated checkout button.
  Intended for product-form.liquid block.

  @param {string} can_add_to_cart - Whether the product can be added to the cart
  @param form_obj - The form object

  @example
  {% content_for 'block', type: 'accelerated-checkout', id: 'accelerated-checkout', can_add_to_cart: can_add_to_cart, form_obj: form %}
{%- enddoc -%}

{% liquid
  assign product = closest.product
  if request.visual_preview_mode and product == blank
    assign product = collections.all.products.first
  endif
%}

<div
  class="accelerated-checkout-block"
  ref="acceleratedCheckoutButtonContainer"
  {{ block.shopify_attributes }}
  {% if request.visual_preview_mode %}
    data-shopify-visual-preview
  {% endif %}
  {% unless can_add_to_cart %}
    hidden
  {% endunless %}
>
  {% if product != blank and form_obj != blank %}
    <button type="button" class="sr-headless-checkout" name="sr-headless-button" onclick="shiprocketCheckoutEvents.buyProduct(event)">
      <div class="sr-d-flex flex-center">
        <div class="sr-d-flex full-width flex-center">
          <div class="sr-button-text-container">
            <span class="sr-checkout-visible2">BUY NOW</span>
          </div>
          <img src="https://fastrr-boost-ui.pickrr.com/assets/images/boost_button/upi_options.svg" alt="Google Pay | Phone Pay | UPI" class="sr-pl-15 sr-checkout-visible sr-payment-icons">
          <div class="loader5"></div>
        </div>
        <div class="sr-discount-label"><span></span></div>
        <div class="sr-brand-badge-container">
          <span class="sr-powered-by">
            <img src="https://fastrr-boost-ui.pickrr.com/assets/images/boost_button/powered_by.svg" alt="">
          </span>
        </div>
      </div>
    </button>
  {% endif %}
</div>

{% render 'buy-buttons-styles' %}

{% schema %}
{
  "name": "t:names.accelerated_checkout",
  "tag": null
}
{% endschema %}
