<div class="product-quantity-block">
  {% render 'quantity-selector', product: closest.product %}
</div>

{% stylesheet %}
  .product-quantity-block {
    padding-block-end: var(--padding-lg);
    display: inline-block;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.quantity",
  "tag": "div"
}
{% endschema %}
